<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectStrings>
    <add name="albert1" connectString="Data Source=.;InitiaCatalog=DemoDB;User ID=sa;Password=1234546"
         providerName="System.Data.SqlClient"/>
    <add name="albert2" connectString="Data Source=.;InitiaCatalog=DemoDB;User ID=sa;Password=1234546"
         providerName="System.Data.SqlClient"/>
  </connectStrings>
<appSettings>
  <add key="Config:name" value="albertzhao"/>
  <add key="Config:proxy.address" value="szdxzhy@outlook.com"/>
  <add key="Config:proxy.port" value="8080"/>
</appSettings>
</configuration>